$theme-color: #000000;
// $default-background-color: #DDCFCB;
$default-background-color: white;
$button-color: #000000;

$word-spacing: 8px;
$font-size-basic: 32px;

$light-black: #28282bf2;
$white: white;
$border-default: #000;
